<body>
<%- include('partials/header.ejs'); %>

<div class="topBar">
    <form action="/add" method="post">
        <input type="submit" name="add" value="Add Book">
    </form>

    <form action="/search" method="post">
        <input type="text" name="search" id="liveSearch" placeholder="Search Book">
        <input type="submit" value="Search Book">
    </form>
</div>


<div class="cardWrapper">
    <% if (bookNotesData.length > 0) { %>
        <% bookNotesData.forEach((book) => { %>
            <div class="container">
                <div class="bookCover">
                    <img src=" https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-L.jpg?default=false "
                         alt=" <%= book.title %>" class="coverIMG">
                </div>

                <div class="bookDescription">
                    <h2><%= book.title %> </h2>
                    <p> <%= book.synopse %> </p>
                </div>

                <form action="/details" method="get">
                    <input type="hidden" name="id" value="<%= book.id %>">
                    <input type="submit" value="My thoughts" class="thoughtsButton">
                </form>
            </div>
        <% }) %>
    <% } else { %>
        <div class="topBar">
            <h2>No books found</h2>
        </div>
    <% } %>
</div>
</body>
